.bigPropic {
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.editIcon {
  height: 40px;
  width: 40px;
}

.loading {
  height: 200px;
  width: 200px;
}

.editProfileModal {
  width: 100vw;
  height: 100vh;
}
