.blur {
  backdrop-filter: brightness(0.8) blur(100px);
}

.card {
  transition: all 200ms;

  &:hover {
    scale: 1.04;
  }
}

.truncate {
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}

.deleteGame {
  top: 5px;
  left: 5px;
  height: 1em;
  width: 1em;
  display: none;
}

.card:hover .deleteGame {
  display: flex;
}
