.blur {
  backdrop-filter: brightness(0.8) blur(100px);
}

.deleteGame {
  top: 15px;
  left: 15px;
  height: 1em;
  width: 1em;
  display: none;
}

.customCard:hover .deleteGame {
  display: flex;
}

.platformIcon {
  width: 15px;
  flex: none;

  path {
    fill: #FEF9F6;
  }
}

.mobileIcon {
  width: 15px;
  height: 15px;

  path {
    fill: #FEF9F6;
  }
}

.emptyPlatform {
  height: 15px;
}

.customDarkBtn {
  &:hover {
    color: #141415;
    background-color: #1ad214;
  }
}
