// Bootstrap overrides
$gray-900: #141415;
$theme-colors: (
  "primary": #1ad214,
  //"secondary": #72f76e,
  "secondary": #a997df,
  "info": #16dfe9,
  "danger": red,
  "light": #fef9f6,
);

$blue: #1ad214;
// Import di bootstrap
@import "bootstrap/scss/bootstrap";
#root {
  height: 100vh;
}
body {
  height: 100vh;
}
