// Bootstrap overrides
$gray-900: #141415;
$theme-colors: (
  "primary": #1ad214,
  //"secondary": #72f76e,
  "secondary": #a997df,
  "danger": red,
  "info": #16dfe9,
  "light": #fef9f6,
);

$blue: #1ad214;
$primary: #1ad214;
// Import di bootstrap
@import "bootstrap/scss/bootstrap";

#root {
  height: 100vh;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-color: #141415;
  background-image: linear-gradient(180deg, #2F2A3F 0%, #141415 75%);
  background-repeat: no-repeat;
}
